*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(15, 14, 14);
    color: white;
     
    grid-template-rows: 100px 300px 100px;
    grid-template-columns: 1fr auto;
    
    grid-template-areas: 
        "header link"
        "main aside"
        "footer footer";

   
}
.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
}

header{
    grid-area: "header header";
    gap: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:  40px;
    box-shadow: 10px 0px 10px rgb(157, 237, 37) ;

}
header h1{
    font-size: 2.5rem;
    color: rgb(125, 246, 125);
    font-weight: bold;
    text-transform: uppercase;
    grid-area: "header";
    font-family: cursive;
}

nav{
    display: flex;
    gap: 20px;
    grid-area: "link";
    grid-template-columns: 2fr 2fr;
   
}
nav a{
     color: gainsboro;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    gap: 30px;
    
}
nav span a[href="./../index.html"]{
    color: rgb(255, 250, 250);
   font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    
padding: 5px;
    border-radius: 10px;

}
nav span a[href="./../index.html"]:hover{
    color: rgb(0, 0, 0);
    transition: 0.3s;
    transform: scale(1);
    background: linear-gradient(to right, rgb(131, 249, 192), rgb(114, 255, 114));
    padding: 5px;
    border-radius: 10px;
}
nav span a[href="#home"]{
    color: rgb(255, 254, 254);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}
nav span a[href="#home"]:hover{
    color: black;
}


nav a:hover{
    color: rgb(0, 0, 0);
    transition: 0.3s;
    transform: scale(1);
    background: linear-gradient(to right, rgb(131, 249, 192), rgb(114, 255, 114));
    padding: 5px;
    border-radius: 10px;
}
main{
    grid-area: "main aside";
    display: flex;
    padding: 40px;
    margin: 20px;
    gap: 20%;
}
.intro{
    display: grid;
    grid-area: "main";
    grid-template-columns: 1fr;
    color: rgb(167, 165, 165);
}
.intro h1{
    font-size: 40px;
    color: rgb(253, 253, 253);
}
.intro span{
    color: rgb(115, 241, 115);
    font-size: 25px;
}
.intro h2{
    color: white;
}
.btn{
justify-content:flex-start;


    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    ;
}
.btn :hover{
    background-color: rgb(57, 231, 147);
    color: black;
    transition: 0.75s;
    background: linear-gradient(to right, rgb(57, 231, 147), rgb(212, 247, 212));
   transform: scale(1.1);
}
button{
    width:120px;
    height: 50px;
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    gap: 20px;
}
.sidebar{
    display: flex;
    grid-area: "aside";
    grid-template-columns: 3fr;
}
.sidebar img{
   
    width: 250px;
    height: 250px;
    border: 4px solid rgb(180, 230, 106);
    border-radius: 50%;
    box-shadow: 10px 10px 20px lightgreen;
    object-fit: cover;
}
.social a img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: none;
    border-radius: 50%;
    color: rgb(162, 157, 162);
     align-items: center;
    justify-content: center;
    text-align: center;
    
}
.social a{
   
    flex-direction: row;
    gap: 30px;
    padding-right:  10px;
    align-items: center;
}
.social img{
    transition: 0.3s;
    
    margin-left: 10px;
   
}
.social img:hover{
    transform: scale(1.5);
    transition: 0.3s;
   background-color: var(--text-down-color);
}
@media screen and (max-width: 768px) {
    .sidebar img{
        width: 200px;
        height: 200px;
    }
    .intro h1{
        font-size: 30px;
    }
    .intro span{
        font-size: 20px;
    }
    body{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    
}
#links{
    color: rgb(255, 250, 250);
    font-size: 23px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}